body {
font-family: "Roboto", sans-serif;
font-style: normal;
color: #434455;
background: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
margin-top: 0;
margin-bottom: 0;
}

ul {
list-style-type: none;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}

a {
text-decoration: none;
}

button {
  cursor: pointer;
}

header {
display: flex;
padding-top: 24px;
padding-bottom: 24px;
}

address {
font-style: normal;
}

img {
display: block;
}

.container {
width: 1158px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
}


/* header */
.header-item-class {
display: flex;
}

.header-main {
display: flex;
  
flex-grow: 3;
justify-content: space-between;
border-bottom: 1px solid #e7e9fc;
}

.header-menu {
display: flex;
align-items: center;
  
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
}

.header-name-logo {
  display: flex;
  
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;

margin-right: 76px 
}

.logo-name-stu {
display: flex;
  
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42; 
}

.header-menu:hover,
.header-menu:focus {
color: #404bbf;
}

.container-header-one
{
display: flex;
}

.header-menu-nav {
display: flex;
align-items: center;
flex-grow: 1;
gap: 40px;

padding-top: 24px;
padding-bottom: 24px;
}

.header-item {
display: flex;
align-items: center;
color: #2e2f42;
padding: 24px 0;
margin-right: 40px;
}

.header-item:hover,
.header-item:focus {
color: #404bbf;
}

.header-address-menu {
display: flex;
  gap: 40px;
}

.header-address-item {
display: flex;
  
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.header-address-item:hover,
.header-address-item:focus {
color: #404bbf;
}

.header-address-item-two {
margin-right: 0;
}

/* main */
/* section-1 */
.page {
padding: 188px 0;
background: #2e2f42;
}

.page-title {
font-weight: 700;
font-size: 56px;
text-align: center;
line-height: 1.07;
letter-spacing: 0.02em;
color: #fff;

max-width: 496px;
margin: 0 auto;
}

.page-button {
display: block; 
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
cursor: pointer;
background: #4d5ae5;

min-width: 169px;
height: 56px;
border: none;
border-radius: 4px; 
cursor: pointer;

margin: 0 auto;
}

.page-button:hover,
.page-button:focus {
background-color: #404BBF;
}

/* section-2 */
.feature {
padding-top: 120px;
padding-bottom: 120px;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
  
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.feature-list {
display: flex;
padding-left: 24px;
padding-right: 24px;
gap: 24px; 
}

.feature-item {
width: calc((100% -3*24px)/4);

}

.feature-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px; 
}

.feature-item-title {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* section-3 Our Team*/
.team {
background: #f4f4fd;
padding-top: 120px;
padding-bottom: 120px;
}

.team-container {
width: 264px;

box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff;
}

.team-name {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
  
display: flex;
margin: 0 auto;
margin-bottom: 72px;
}

.team-title {
flex-wrap: wrap;
gap: 16px 32px;    
}    

.team-page {
display: flex;
gap: 24px;

background: #fff;
margin-bottom: 0;
}

.team-page-one {
width: calc((100% - 3*24px)/4);
border-radius: 0px 0px 4px 4px; 
}

.name-worker {
padding: 32px 0;
}

.team-page-last {
margin-right: 0;
}

.team-page-photo {}

.team-page-name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;

margin: 0 auto;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 8px;
}

.team-page-work {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
margin: 0 auto;
text-align: center;
}


/* section-4 Our Portfolio */
.portfolio-main {
display: flex;
padding-top: 120px;
padding-bottom: 120px;
margin-bottom: 72px;
}

.portfolio-name {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}

.portfolio-list {
display: flex;
flex-wrap: wrap;
gap: 24px 48px;
}  
 
.portfolio-page {
width: calc((100% - 4 * 24px) / 3);

max-width: 360px;
}

.portfolio-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.portfolio-work {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.potfolio-border {
border: initial;
}

/* Footer */
.footer-page {
display: inline-block;
background: #2e2f42;

width: 1440px;

padding: 100px 0;
margin-bottom: 16px; 
}

.footer-logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.footer-name-stu {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;
}

.footer-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}
