body {
font-family: "Roboto", sans-serif;
font-style: normal;
color: #434455;
background: #fff; 
}

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;   
  }

ul {
list-style-type: none;  
margin-top: 0;
margin-bottom: 0;   
}

a {
 text-decoration: none;
}

button {
  cursor: pointer;
 }

 address {
  font-style: normal;
 }

.container {
  width: 1128px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
 }

 header {
  padding-top: 24px;
  padding-bottom: 24px;
 }

 section {

 }



/* header */
.header-main {
  padding-bottom: 24px;
 }

.header-name-logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.logo-name-stu {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;
}

.header-menu {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;

}

.header-menu:hover, 
.header-menu:focus {
color: #404bbf;
}

.header-item {
color: #2e2f42;
}

.header-item:hover, 
.header-item:focus {
color: #404bbf;
}

.header-menu-nav {

}

address {
font-style: normal;
justify-content: flex-end;
}

.header-address-menu {

  }

.header-address-item {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

}

.header-address-item:hover, 
.header-address-item:focus  {
color: #404bbf;
}

/* main */
/* section-1 */
.page {
  padding-top: 188px;
  padding-bottom: 188px;
}

.page-wrap {
background: #2e2f42;
}

.page-title {
font-weight: 700;
font-size: 56px;
text-align: center;
line-height: 1.07;
letter-spacing: 0.02em;
color: #fff;

max-width: 496px;
margin: 0 auto;
}

.page-button { 
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
cursor: pointer;
background: #4d5ae5;

max-width: 169px;
margin: 0 auto;
}

.page-button:hover, 
.page-button:focus  {
background-color: #404BBF;
}

/* section-2 */
.feature {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
margin: -1px;
    
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
  }

  .feature-item {
max-width: 264px;
}

.feature-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.feature-item-title {
font-size: 16px;
line-height: 1.5;
 letter-spacing: 0.02em;
color: #434455;
}

/* section-3 Our Team*/
.team {
background: #f4f4fd;
padding-top: 120px;
padding-bottom: 120px;
}

.team-name {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}

.team-page {
background: #fff;

max-width: 264px;
}

.team-page-photo {
}
.team-page-name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.team-page-work {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* section-4 Our Portfolio */
.portfolio-main {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-page {
max-width: 360px;
}

.portfolio-name {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}

.portfolio-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.portfolio-work {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.potfolio-border {
  border: initial;
  }

/* Footer */
.footer-page {
background: #2e2f42;

width: 1440px;
}

.footer-logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.footer-name-stu {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;
}

.footer-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}
